<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
     <p class="copyright">© <%= new Date().getFullYear() %> | <a href="http://techlahoma.org/">Techlahoma.org</a> | <a href="/okcjs-website/code-of-conduct/">Code of Conduct</a>
	 <p><% if (config.author) { %>
		<a href="<%= config.url %>" target="_blank" title="<%= config.author %>"><%= config.author %> </a>
		<% } else {%>
		<a href="<%= config.url %>" title="<%= config.title %>"><%= config.title %> </a>
		<% } %>
	</p>	 
    </div>
  </div>
</footer>